Jwt__Secret=example_jwt_secret_change_me
Jwt__Issuer=DPBack
Jwt__Audience=DPBack
ConnectionStrings__OrderStoreDbContext="User ID=postgres;Password=0000;Host=postgres;Port=5432;Database=db;"
ConnectionStrings__UserStoreDbContext="User ID=postgres;Password=0000;Host=postgres;Port=5432;Database=userDB;"
ConnectionStrings__ProductStoreDbContext="User ID=postgres;Password=0000;Host=postgres;Port=5432;Database=productDB;"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=0000
Accounts__BaseAdminPassword=0000